<nav class="container">
  <ul>
    <div class="box"><%= link_to('Teams', teams_path) %></div>
    <div class="box"><%= link_to('Create A Team', new_team_path) %></div>
    <div class="box"><%= link_to('Players', players_path) %></div>
    <div class="box"><%= link_to('Create A Player', new_player_path) %></div>
  </ul>
</nav>